<body class="sign-up-page">
  <section class="main-signUp">
    <header class="top-bar"></header>
    <h1>Teaching Tool</h1>
    <div class="form-inputs">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
      <div class="all-inputs">
        <%= f.input :email, required: true, autofocus: true %></br>
        <%= f.input :password, required: true %></br>
        <%= f.input :password_confirmation, required: true %>
        <%= f.button :submit, "Sign up" %>
      </div>
    </div>
    <% end %>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </section>
</body>
