<header class="all-head">
  <h1>All Lessons</h1>
  <ul class="main-nav">
    <li><a href="/lessons/index">All Lessons</a></li>
    <li><a href="/lessons/new">New Lesson</a></li>
    <li><a href="#">Place Holder</a></li>
    <li><a href="#">Place Holder</a></li>
  </ul>
</header>
<section class="all-list">
  <header class="list-head">
    <h2>Lesson List</h2>
  </header>
  <%= form_tag lessons_path, :method => 'get' do %>
    <p>
	    <%= text_field_tag :search %>
	    <%= submit_tag "Search", :class => "search"%>
    </p>

  <% end %>
	<ul class="list">
		<% @lessons.each do |lesson| %>
		<li>
      <%=link_to lesson.lesson_name, lesson, :class => "lessons" %> - <%= lesson.lesson_number %> <%= link_to lesson_path(lesson), method: :delete, data: { confirm: "Delete this lesson? "}, :class => "delete-btn" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </li>
		<% end %>
	</ul>
</section>
